/*Step Number*/
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #5a8dee;
}

button.css-1f5ro5o-MuiButtonBase-root-MuiButton-root {
  background-color: #5a8dee;
  color: black;
}

.css-m8a1uf-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  background-color: #5a8dee;
}